# Ignore node_modules directory
/node_modules

# Ignore environment config file
/config.env

# Ignore package-lock.json
/package-lock.json

# Ignore specific configuration files
/.eslintrc.json
/.prettierrc

# Ignore directories with your code
/dev-data
/controllers
/models  
/utils

# Ignore specific files
/app.js
/server.js
