doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- this is the JS runtime that allows me to compile and render Pug templates directly in the browser
    script(src="https://cdn.jsdelivr.net/npm/pug@3.0.2/pug.min.js")
    title= title
  body
    block content